<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-grid">
      <div class="footer-left">
        <a href="#hero" class="logo">
          <img src="/img/logo.svg" alt="Art Time Logo" class="logo-img" />
        </a>

        <p class="footer-areas-title">Our Service Areas:</p>
        <p class="footer-areas">
          North Port | Port Charlotte | Venice | Sarasota
        </p>
      </div>

      <!-- ABOUT -->
      <div class="footer-col">
        <h3 class="footer-title">About</h3>
        <ul class="footer-list">
          <li><a href="#about">About Us</a></li>
        </ul>
      </div>

      <!-- SERVICES -->
      <div class="footer-col">
        <h3 class="footer-title">Services</h3>
        <ul class="footer-list">
          <li><a href="#services">Painting</a></li>
          <li><a href="#services">Drywall</a></li>
          <li><a href="#services">Tile & Texture</a></li>
        </ul>
      </div>

      <!-- CONTACT -->
      <div class="footer-col">
        <h3 class="footer-title">Contact</h3>

        <ul class="footer-list">
          <li>
            <a href="mailto:arttimellc25@gmail.com"> arttimellc25@gmail.com </a>
          </li>
          <li>
            <a href="tel:+19414452275">(941) 445-2275</a>
          </li>
        </ul>

        <!--INSTAGRAM -->
        <div class="footer-socials">
          <a
            href="https://www.instagram.com/arttimellc?igsh=MTZvZmx6cGU0ZWhmeA=="
            class="footer-social"
            aria-label="Instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="20" height="20">
              <use href="img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <!-- BOTTOM -->
    <div class="footer-bottom">
      <p>© 2024 ArtTime LLC. All rights reserved.</p>
    </div>
  </div>
</footer>
