<header class="header">
  <div class="container header-container">
    <a href="/" class="logo">
      <span class="logo-main">ART</span>
      <span class="logo-accent">TIME</span>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li><a class="nav-link" href="#home">Home</a></li>
        <li><a class="nav-link" href="#services">Services</a></li>
        <li><a class="nav-link" href="#projects">Projects</a></li>
      </ul>
    </nav>

    <div class="header-contact">
      <a href="tel:+19414452275" class="contact-item">
        <svg class="icon">
          <use href="/img/sprite.svg#icon-phone"></use>
        </svg>
        <span>(941) 445-2275</span>
      </a>

      <a href="mailto:arttimellc25@gmail.com" class="contact-item">
        <svg class="icon">
          <use href="/img/sprite.svg#icon-mail"></use>
        </svg>
        <span>arttimellc25@gmail.com</span>
      </a>
    </div>
  </div>
</header>
