<header class="header">
  <div class="container header-container">
    <a href="./index.html#hero" class="logo">
      <img src="/img/logo.svg" alt="Art Time Logo" class="logo-img" />
    </a>

    <div class="header-contact mobile-header-contact">
      <a href="tel:+19414452275" class="contact-item mobile-contact-item">
        <svg class="icon">
          <use href="/img/sprite.svg#icon-phone"></use>
        </svg>
        <span>(941) 445-2275</span>
      </a>

      <a
        href="mailto:arttimellc25@gmail.com"
        class="contact-item mobile-contact-item"
      >
        <svg class="icon">
          <use href="/img/sprite.svg#icon-mail"></use>
        </svg>
        <span>arttimellc25@gmail.com</span>
      </a>
    </div>

    <button
      class="burger"
      type="button"
      aria-label="Open menu"
      aria-expanded="false"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="nav">
      <ul class="nav-list">
        <li><a class="nav-link active" href="./index.html#hero">Home</a></li>
        <li>
          <a class="nav-link active" href="./index.html#services">Services</a>
        </li>
        <li>
          <a class="nav-link active" href="./index.html#gallery">Projects</a>
        </li>
        <li>
          <a class="nav-link active" href="./index.html#review">Reviews</a>
        </li>
      </ul>
    </nav>

    <div class="header-contact desktop-header-contact">
      <a href="tel:+19414452275" class="contact-item">
        <svg class="icon">
          <use href="/img/sprite.svg#icon-phone"></use>
        </svg>
        <span>(941) 445-2275</span>
      </a>

      <a href="mailto:arttimellc25@gmail.com" class="contact-item">
        <svg class="icon">
          <use href="/img/sprite.svg#icon-mail"></use>
        </svg>
        <span>arttimellc25@gmail.com</span>
      </a>
    </div>
  </div>

  <div class="mobile-menu">
    <div class="mobile-menu-content">
      <ul class="mobile-menu-list">
        <li><a class="nav-link mobile-nav-link" href="#hero">Home</a></li>
        <li>
          <a class="nav-link mobile-nav-link" href="#services">Services</a>
        </li>
        <li>
          <a class="nav-link mobile-nav-link" href="#gallery">Projects</a>
        </li>
        <li><a class="nav-link mobile-nav-link" href="#review">Reviews</a></li>
      </ul>
    </div>
  </div>
</header>
